<div id="edit-main">
  <%= render "partial/side"%>
  <div class="chat-cont">
    <div class="chatPage">
      <div class="chat-header">
        <div class="chatPartner">
          <div class="chat-partner">
            <%= image_tag default_photo(@chat_room_user).url, class: "post-profile-icon" %>
          </div>
          <div class="chat-onother-name white">
            <%= @chat_room_user.name %>
          </div>
        </div>
      </div>
      <div class="chat-background">
      <div class="container">
        <div class="messagesArea messages">
          <%= render @chat_messages %>
        </div>
        <form class="messageInputForm">
          <div　class="chat-fom">
          　<input type="text" data-behavior="room_speaker" class="messageInputForm_input" placeholder="メッセージを入力...">
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
