<div class="message"> 
  <% if chat_message.user.id == current_user.id %>
    <span class="message__name">
      <%= chat_message.user.name %>:
    </span>
    <div class="message__text message_current_user left-message">
      <div>
        <%= chat_message.message %>
      </div>
    </div>
    <% else %>
    <div class="raight-message">
      <div class="message__text ">
        <div>
          <%= chat_message.message %>
        </div>
      </div>
      <span class="message__name">
        :<%= chat_message.user.name %>
      </span>
    </div>
      <% end %>
</div>
