//投稿ページ
.post-profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.new-user-image {
  margin-bottom: 20px;
}

.new-box {
  width: 90%;
  margin: auto;
}

.postsnew-card {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.postsnew-form {
  margin-bottom: 20px;
}

.postsnew-btn {
  margin-top: 20px;
}

.postsnew-btn-btn {
  background-color: crimson;
  color: white;
}

.posts-card {
  color: white;
}

.card-header {
  background-color: rgba(0, 21, 36, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
}

.posts-cont {
  width: 90%;
  margin: auto;
}

.posts-username {
  line-height: normal;
  margin-top: 27px;
  margin-left: 10px;
}

.post-user-name {
  color: white;
}

.no-text-decoration {
  color: white;
}

.card-right {
  background-color: rgba(0, 21, 36, 0.9);
}

.post-user-name {
  color: white;
}

.postsshow-center {
  width: 100%;
}

.video-bottom {
  margin-bottom: 0;
  padding: 0;
}

.like {
  margin-bottom: 5px;
}

.postsindex-box {
  width: 95%;
  margin: auto;
}

.index-cont {
  margin-top: 0;
  margin: 0 auto;
  width: 65%;
}

.posts-index-all-card {
  margin-bottom: 70px;
}

.card-wrap {
  margin: 40px 0px;
}

.no-text-decoration:hover {
  text-decoration: none;
}

.parts {
  margin: 12px 0;
}

.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  background-size: 25px !important;
}

.comment {
  margin-left: 8px;
  background-image: image-url("parts6");
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  background-size: 30px !important;
}

.post-time {
  margin: 0;
  color: #999;
  font-size: 10px;
}

.post-sub-text {
  text-decoration: none;
  color: #262626;
}

//showページ
.post-wrap .col-md-8 {
  padding: 0px;
}

.card-right {
  padding: 20px;
}

.card-right-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.card-right-comment {
  padding-bottom: 10px;
  height: 150px;
  overflow: auto;
}

.post-user-name {
  display: flex;
  align-items: center;
  line-height: 0;
}

.postsshow-card {
  margin-top: auto;
}

.card-body-color {
  background-color: rgba(0, 21, 36, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  box-shadow: 0px 0px 10px;
}

#card-body-color {
  background-color: rgba(0, 21, 36, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  border-left: 1px solid lightslategray;
  box-shadow: 0px 0px 10px;
}

//デストロイ機能
.delete-post-icon {
  background-image: image-url("parts9");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-size: 25px !important;
  font-size: 20px;
  margin-top: 15px;
}

//いいね機能
.loved {
  background-image: image-url("parts7");
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  background-size: 25px !important;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

//コメントリスト
.delete-comment {
  background-image: image-url("parts8");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  float: right;
  margin: 5px 0 0 10px;
  background-size: 11px !important;
}

.user-name {
  margin-top: 25px;
  margin-left: 10px;
}

.posts-show-card {
  width: 100%;
  margin-bottom: 10x;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.posts-show-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.posts-show-comment-box {
  width: 95%;
  margin: auto;
}

.posts-show-comment {
  width: 98%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.posts-index-cont {
  margin: auto;
  width: 70%;
  height: 100%;
  margin-top: 30px;
}

#card-header-sub {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  border-left: 1px solid lightslategray;
  box-shadow: 0px 0px 10px;
}

#card-header-show-sub {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
